body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
}

.container {
    background: linear-gradient(to bottom, #e6c4f5, #430e57);
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    max-width: 700px;
    text-align: center;
}

h1 {
    color: #6a0094;
    margin-bottom: 0px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

button {
    background-color: #6c3483;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #541c6d;
    border-radius: 60px;
}
