body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    background-color: rgb(225, 0, 255);
}

.container {
    background: linear-gradient(to bottom, #e6c4f5, #430e57);
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    max-width: 800px;
    text-align: center;
    max-width: 300px;
}

h1 {
    color: #6a0094;
    margin-bottom: 10px;
    margin-top: 10px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 20px;
    color: #000000;
    font-weight: bold;
    margin-top: 15px;
}

input[type="text"],
input[type="password"] {
    padding: 5px 5px;
    border: 2px solid #a00093;
    border-radius: 5px;
    margin-top: 15px;
    width: 100%;
}

button {
    background-color: #6c3483;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 10px;

}

button:hover {
    background-color: #15ff00;
    border-radius: 60px;
    color: #000000;
}

input[type="number" i] {
    padding: 8px 10px;
    border-radius: 10px;
    margin-right: center;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    color: aqua;
}